<app-header></app-header>
<div class="w-100 ctn-content">
  <div class="container ctn-route">
		<div class="heading">	
			Scipoeia&nbsp;&nbsp;>&nbsp;&nbsp;<span class="l-r">Suggester</span>
		</div>
		<div class="row mt-4 special">
			<div class="col-md-4">
				<a routerLink="/compare" class="btn-link">			
					<button class="btn btn-sh2 btn-block l-l mb-4 btn-icon">
						<img class="o" src="assets/judge.png" />
						<img class="c" src="assets/judge-c.png" />&nbsp;&nbsp;Compare
					</button>
				</a>

				<div class="rc side-heading-ctn">
					<div class="rc side-heading l-l cp" (click)="toggleSideSCIBr()">
						<div>					
							<img src="assets/sci.png" />SCI Branch
						</div>
						<span class="float-right">					
							<img *ngIf="showSideSCIBr" src="assets/arrow-up.png" />
							<img *ngIf="!showSideSCIBr" src="assets/arrow-down.png" />
						</span>
					</div>
					<ng-scrollbar [hidden]="!showSideSCIBr">
						<div class="side-heading-content fh l-l" [hidden]="!showSideSCIBr">
							<div *ngFor="let c of sciBranch; let i = index;" class="custom-control custom-checkbox mb-2 cat">
							  <input [(ngModel)]="c.checked" type="checkbox" class="custom-control-input" id="checkSci{{i}}">
							  <label class="custom-control-label" for="checkSci{{i}}">&nbsp;&nbsp;{{c.name}}</label>
							</div>
						</div>
			    </ng-scrollbar>
				</div> 
				<div class="rc side-heading-ctn">
					<div class="rc side-heading l-l cp" (click)="toggleSideCate()">
						<div>					
							<img src="assets/cat.png" />Categories
						</div>
						<span class="float-right">					
							<img *ngIf="showSideCate" src="assets/arrow-up.png" />
							<img *ngIf="!showSideCate" src="assets/arrow-down.png" />
						</span>
					</div>
					<ng-scrollbar [hidden]="!showSideCate">
						<div class="side-heading-content fh l-l" [hidden]="!showSideCate">
							<div *ngFor="let c of cat; let i = index;" class="custom-control custom-checkbox mb-2 cat">
							  <input [(ngModel)]="c.checked" type="checkbox" class="custom-control-input" id="checkCat{{i}}">
							  <label class="custom-control-label" for="checkCat{{i}}">&nbsp;&nbsp;{{c.name}}</label>
							</div>
						</div>
			    </ng-scrollbar>
				</div>
				<div class="rc side-heading-ctn">
					<div class="rc side-heading l-l cp" (click)="toggleSideImpactFac()">
						<div>					
							<img src="assets/punch.png" />Impact Factor
						</div>
						<span class="float-right">					
							<img *ngIf="showSideImpactFac" src="assets/arrow-up.png" />
							<img *ngIf="!showSideImpactFac" src="assets/arrow-down.png" />
						</span>
					</div>
					<div class="side-heading-content" [hidden]="!showSideImpactFac">
						<div class="input-ctn l-l">
							<div class="j-sb mb-2">
								<span>Range</span>
			        </div>
			        <div class="j-sb">
								<input type="text" [(ngModel)]="impFac.from" class="form-control" />
								<span class="dash"></span>
								<input type="text" [(ngModel)]="impFac.to" class="form-control" />
			        </div>
			      </div>
					</div>
				</div>
				<div class="rc side-heading-ctn">
					<div class="rc side-heading l-l cp" (click)="toggleSideAccRate()">
						<div>					
							<img src="assets/percentage.png" />Acceptance Rate
						</div>
						<span class="float-right">					
							<img *ngIf="showSideAccRate" src="assets/arrow-up.png" />
							<img *ngIf="!showSideAccRate" src="assets/arrow-down.png" />
						</span>
					</div>
					<div class="side-heading-content" [hidden]="!showSideAccRate">
						<div class="input-ctn l-l">
							<div class="j-sb mb-2">
								<span>Range</span>
			        </div>
			        <div class="j-sb">
								<input type="text" [(ngModel)]="accRate.from" class="form-control" />
								<span class="dash"></span>
								<input type="text" [(ngModel)]="accRate.to" class="form-control" />
			        </div>
			      </div>
					</div>
				</div>
				<div class="rc side-heading-ctn">
					<div class="rc side-heading l-l cp" (click)="toggleSideCountries()">
						<div>					
							<img src="assets/planet-earth.png" />Country / Region
						</div>
						<span class="float-right">					
							<img *ngIf="showSideCountries" src="assets/arrow-up.png" />
							<img *ngIf="!showSideCountries" src="assets/arrow-down.png" />
						</span>
					</div>
					<div class="side-heading-content" [hidden]="!showSideCountries">
						<div class="select-ctn">
							<img src="assets/arrow-select.png" />
							<select class="form-control">
								<option value="">Select your country</option>
							</select>
		        </div>
		      </div>
				</div>
				<div class="btn-ctn j-sb">
					<button class="btn btn-outline-sh1 btn-lg l-l" (click)="clear()">Cancel</button>
					<button class="btn btn-sh2 btn-lg l-l">Submit</button>
				</div>
			</div>
			<div class="col-md-8 l-l heading-ctn-main mt-0">		
				<div class="heading">
					<span class="l-r">Search title</span>
				</div>

				<textarea class="form-control my-4" placeholder="Text comes here"></textarea>

				<div class="heading">
					<span class="l-r">Search keyword</span>
				</div>
				<div class="input-group search-field px-0 my-4">
				  <div class="tag-ctn col-md-8 px-0">		  	
						<tag-input [theme]="'bootstrap'"
											 [placeholder]="'+ Keyword'"
											 [secondaryPlaceholder]="'Enter Keywords Here'"
											 [(ngModel)]="searchTags"
				               (onSelect)="onSelect($event)"
				               [modelAsStrings]="true"
				               [separatorKeyCodes]="[32]">
				    </tag-input>
				  </div>
				  <div class="col-md-4">		  	
			   		<button class="btn btn-sh2 btn-block l-l rc ml-2 btn-icon" (click)="search()">
							<img class="o" src="assets/search-w.png" />
							<img class="c" src="assets/search-c.png" />&nbsp;&nbsp;Search
						</button>
				  </div>
				</div>

				<div class="result-row" *ngFor="let r of results; let i = index;">
					<div class="rc side-heading-light j-sb cp" (click)="selectRow(r)" [ngClass]="{active: isRowActive(r)}">
						<span>{{ r.n }}</span>
						<span>Impact Factor</span>
						<span>Acc Rule</span>
						<span>Total Issues</span>
						<span>Unknown Word</span>
						<div (click)="showRow(r, $event);" class="custom-control custom-checkbox">
						  <input [(ngModel)]="r.checked" type="checkbox" class="custom-control-input" id="customCheck{{i}}">
						  <label class="custom-control-label" for="customCheck{{i}}"></label>
						</div>
					</div>
					<table class="table table-striped" *ngIf="r.active">
					  <tbody>
					    <tr>
					      <td>Title</td>
					      <td>Factor 332</td>
					      <td>Rule Acc.</td>
					      <td>Sample Issue</td>
					      <td>Line Value</td>
					      <td>&nbsp;</td>
					    </tr>
					    <tr>
					      <td>Title</td>
					      <td>Factor 321</td>
					      <td>Rule Acc.</td>
					      <td>Sample Issue</td>
					      <td>Line Value</td>
					      <td>&nbsp;</td>
					    </tr>
					    <tr>
					      <td>Title</td>
					      <td>Factor 332</td>
					      <td>Rule Acc.</td>
					      <td>Sample Issue</td>
					      <td>Line Value</td>
					      <td>&nbsp;</td>
					    </tr>
					    <tr>
					      <td>Title</td>
					      <td>Factor 332</td>
					      <td>Rule Acc.</td>
					      <td>Sample Issue</td>
					      <td>Line Value</td>
					      <td>&nbsp;</td>
					    </tr>
					    <tr>
					      <td>Title</td>
					      <td>Factor 321</td>
					      <td>Rule Acc.</td>
					      <td>Sample Issue</td>
					      <td>Line Value</td>
					      <td>&nbsp;</td>
					    </tr>
					    <tr>
					      <td>Title</td>
					      <td>Factor 332</td>
					      <td>Rule Acc.</td>
					      <td>Sample Issue</td>
					      <td>Line Value</td>
					      <td>&nbsp;</td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>
<app-sidebar></app-sidebar>