<!-- <nav class="j-c">
  <a routerLink="/spider" routerLinkActive="active">spider</a>
  <a routerLink="/conf-seeker" routerLinkActive="active">conf-seeker</a>
  <a routerLink="/explorer" routerLinkActive="active">explorer</a>
  <a routerLink="/compare" routerLinkActive="active">compare</a>
  <a routerLink="/suggester" routerLinkActive="active">suggester</a>
</nav> -->
<div (window:resize)="resize()" class="ctn-outer">	
	<div class="ctn txt-ctn d-flex align-items-center justify-content-center">
		<div class="inner text-center">
			<div class="title">
				<div class="inner">
					BIG BEAUTIFUL TITLE. YEAH?
				</div>
			</div>
			<hr/>
			<div class="sub-title">
				<div class="inner">
					Lorem ipsum text description so you can read this text yourself and learn about this website
				</div>
			</div>
			<div class="logo">
				<img src="assets/img/logo.png" />
			</div>
			<div class="logo-txt">
				<div class="logo-txt-inner" style="width:56%;">
					<img class="anim" src="assets/img/scip.svg" style="transform: translateX(56%);"/>
				</div>
				<div class="logo-txt-inner" style="width:15%; left:49%; z-index: 1; transform: scale(0);">
					<div class="o-bg"></div>						
					<img src="assets/img/scipoeia.svg" style="transform: translateX(-49%);"/>
				</div>
				<div class="logo-txt-inner" style="width: 30%; left: 40.5%; top: -7px; z-index: 1; transform: scale(0); opacity: 0;">
					<img class="o-glow" src="assets/img/o.png" style="transform: translateX(-40%);"/>
				</div>
				<div class="logo-txt-inner" style="width:45%; left:56%;">					
					<img class="anim" src="assets/img/eia.svg" style="transform: translateX(-101%);"/>
				</div>
			</div>
		</div>
	</div>
	<div class="ctn canvas-ctn text-center" (click)="fastForward()">
	</div>
<!-- 	<div class="test">
		<a (click)="reverseAnim()">&larr;&nbsp;Back</a>
	</div> -->
</div>