<div (click)="closeMenu()">
  <div class="header w-100">
    <div class="container pt-2 px-0">
      <nav class="navbar navbar-dark navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="assets/logo-main.png" alt=""/>
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navContent">
          <ul class="mr-auto">
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#"><img src="assets/question.png" />&nbsp;&nbsp;Help</a>
            </li>
            <li class="nav-item">
              <a href="#"><img src="assets/login.png" />&nbsp;&nbsp;Log in</a>
            </li>
            <li class="nav-item">
              <a href="#"><img src="assets/add-user.png" />&nbsp;&nbsp;Register</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="w-100 ctn-content">    
    <div class="container ctn-route">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer w-100 text-center">
    <img src="assets/logo-footer.png" />
    <div class="text">
      <div>Developed by Company Name</div>
      <div>Powered by Company Name</div>
    </div>
    <div class="white-hr"></div>
    <div class="copyright">Scipoeia Copyright © 2018-2019</div>
  </div>
</div>

<div class="side-menu rc l-r" [ngClass]="{open: menuO}">
  <div class="position-relative">
    <div class="side-block cp">
      <div class="side-block-item" (click)="openMenu()">
        <img class="main" src="assets/bl-1.png" />
        <img class="colored" src="assets/bl-1c.png" />
      </div>
      <div class="side-block-item" (click)="openMenu()">
        <img class="main" src="assets/bl-2.png" />
        <img class="colored" src="assets/bl-2c.png" />
      </div>
      <div class="side-block-item" (click)="openMenu()">
        <img class="main" src="assets/bl-3.png" />
        <img class="colored" src="assets/bl-3c.png" />
      </div>
    </div>
    <div class="side-heading rc text-center j-c">Suggester History</div>
    <!-- <ng-scrollbar> -->
      <div class="side-heading-content">
        <div class="mb-2" *ngFor="let item of items; let i = index;">
          <div class="heading py-2"><span>{{item.date}}</span></div>
          <div class="side-heading-light rc smh cp mb-0" (click)="selectItem(item)">{{item.n}}</div>
          <table [hidden]="!item.active" class="table table-striped">
            <tbody>
              <tr>
                <td>- Name (title) (1)</td>
              </tr>
              <tr>
                <td>- Name (title) (2)</td>
              </tr>
              <tr>
                <td>- Name (title) (3)</td>
              </tr>
            </tbody>
          </table>
          <div [hidden]="!item.active" class="side-heading-light rc">
            Detailed Search Results
            <div class="shadow-text text-center">DETAILED SEARCH RESULT</div>
            <button class="btn btn-sh2 btn-lg l-l float-right">Open in Suggester</button>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- <div class="heading py-2"><span>15.06.2018</span></div>
        <div class="side-heading-light rc smh cp">Search Word or Abstract</div>
        <div class="heading py-2"><span>15.06.2018</span></div>
        <div class="side-heading-light rc smh cp">Search Word or Abstract</div>
        <div class="heading py-2"><span>15.06.2018</span></div>
        <div class="side-heading-light rc smh cp mb-0">Search Word or Abstract</div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>- Name (title) (1)</td>
            </tr>
            <tr>
              <td>- Name (title) (2)</td>
            </tr>
            <tr>
              <td>- Name (title) (3)</td>
            </tr>
          </tbody>
        </table> -->
        <!-- <div class="heading py-2"><span>15.06.2018</span></div>
        <div class="side-heading-light rc smh cp">Search Word or Abstract</div>
        <div class="heading py-2"><span>15.06.2018</span></div>
        <div class="side-heading-light rc smh cp">Search Word or Abstract</div>
        <div class="heading py-2"><span>15.06.2018</span></div>
        <div class="side-heading-light rc smh cp mb-0">Search Word or Abstract</div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>- Name (title) (1)</td>
            </tr>
            <tr>
              <td>- Name (title) (2)</td>
            </tr>
            <tr>
              <td>- Name (title) (3)</td>
            </tr>
          </tbody>
        </table> -->
        <!-- <div class="mb-2" *ngFor="let item of items2; let i = index;">
          <div class="heading py-2"><span>{{item.date}}</span></div>
          <div class="side-heading-light rc smh cp mb-0" (click)="selectItem(item)">{{item.n}}</div>
          <table [hidden]="!item.active" class="table table-striped">
            <tbody>
              <tr>
                <td>- Name (title) (1)</td>
              </tr>
              <tr>
                <td>- Name (title) (2)</td>
              </tr>
              <tr>
                <td>- Name (title) (3)</td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    <!-- </ng-scrollbar> -->
  </div>
</div>