<app-header></app-header>
<div class="w-100 ctn-content">
  <div class="container ctn-route">
		<div class="heading">	
			Scipoeia&nbsp;&nbsp;>&nbsp;&nbsp;Suggester&nbsp;&nbsp;>&nbsp;&nbsp;<span class="l-r">Compare</span>
		</div>
		<div class="row mt-4 special">
			<div class="col-md-4">
				<div class="rc side-heading-ctn">
					<div class="rc side-heading l-l cp" (click)="toggleSideCompSet()">
						<div>					
							Comparision Settings
						</div>
						<span class="float-right">					
							<img *ngIf="showSideCompSet" src="assets/arrow-up.png" />
							<img *ngIf="!showSideCompSet" src="assets/arrow-down.png" />
						</span>
					</div>
					<div class="side-heading-content" [hidden]="!showSideCompSet">
						<div class="input-ctn l-l">
							<div class="j-sb mb-2">
								<span>Year From</span>
								<input type="text" [(ngModel)]="compSet.from" class="form-control" />
			        </div>
			        <div class="j-sb">
								<span>Year To</span>
								<input type="text" [(ngModel)]="compSet.to" class="form-control" />
			        </div>
			      </div>
					</div>
				</div>
				<div class="rc side-heading-ctn">			
					<div class="rc side-heading l-l cp" (click)="toggleSideSelJournal()">
						<div>					
							Select Journals
						</div>
						<span class="float-right">					
							<img *ngIf="showSideSelJournal" src="assets/arrow-up.png" />
							<img *ngIf="!showSideSelJournal" src="assets/arrow-down.png" />
						</span>
					</div>
					<div class="side-heading-content" [hidden]="!showSideSelJournal">
						<input type="text" [(ngModel)]="selJour.str" class="form-control mb-2" placeholder="Journal Search">
						<div class="rc side-heading-light j-sb" *ngFor="let r of selJour.res; let i = index;">
							<span class="l-l">{{r.name}}</span>
							<span class="cp" (click)="clearRes(r)"><img src="assets/cross.png" /></span>
						</div>				
					</div>
				</div>
				<div class="rc side-heading-ctn">
					<div class="rc side-heading l-l cp" (click)="toggleSideSelCate()">
						<div>					
							Select Categories
						</div>
						<span class="float-right">					
							<img *ngIf="showSideSelCate" src="assets/arrow-up.png" />
							<img *ngIf="!showSideSelCate" src="assets/arrow-down.png" />
						</span>
					</div>
					<ng-scrollbar [hidden]="!showSideSelCate">
						<div class="side-heading-content fh l-l" [hidden]="!showSideSelCate">
							<div *ngFor="let c of cat; let i = index;" class="custom-control custom-checkbox mb-2 cat">
							  <input [(ngModel)]="c.checked" type="checkbox" class="custom-control-input" id="checkCat{{i}}">
							  <label class="custom-control-label" for="checkCat{{i}}">&nbsp;&nbsp;{{c.name}}</label>
							</div>
						</div>
			    </ng-scrollbar>
				</div>
				<div class="rc side-heading-ctn">
					<div class="rc side-heading l-l cp" (click)="toggleSideAccRate()">
						<div>					
							Acceptance Rate
						</div>
						<span class="float-right">					
							<img *ngIf="showSideAccRate" src="assets/arrow-up.png" />
							<img *ngIf="!showSideAccRate" src="assets/arrow-down.png" />
						</span>
					</div>
			    <ng-scrollbar [hidden]="!showSideAccRate">
						<div class="side-heading-content l-l fh" [hidden]="!showSideAccRate">				
							<div *ngFor="let c of accRate; let i = index;" class="custom-control custom-checkbox mb-2 cat">
							  <input [(ngModel)]="c.checked" type="checkbox" class="custom-control-input" id="checkAcc{{i}}">
							  <label class="custom-control-label" for="checkAcc{{i}}">&nbsp;&nbsp;{{c.name}}</label>
							</div>
						</div>
			    </ng-scrollbar>
				</div>
				<div class="btn-ctn j-sb">
					<button class="btn btn-outline-sh1 btn-lg l-l" (click)="clear()">Clear</button>
					<button class="btn btn-outline-sh1 btn-lg l-l">Submit</button>
					<button class="btn btn-sh2 btn-lg l-l">Save</button>
				</div>
			</div>
			<div class="col-md-8 l-l heading-ctn-main mt-0">		
				<div class="j-sb fs mb-4">
					<span class="title b-t">COMPARISION</span>
				</div>

				<div class="result-row row">
					<div class="col-md-6">				
						<div class="rc side-heading-ctn">
							<div class="rc side-heading-light l-r text-center">				
								Title one (1)				
							</div>
							<div class="rc side-heading-content">
								<div class="mb-4 text-ctn j-sb fs sa">
									<div>
										<div>- Name (Title) 1</div>
										<div>- Name (Title) 2</div>
										<div>- Name (Title) 3</div>
										<div>- Name (Title) 4</div>
										<div>- Name (Title) 5</div>
										<div>- Name (Title) 6</div>
										<div>- Name (Title) 7</div>
										<div>- Name (Title) 8</div>
									</div>
									<div class="font-weight-bold">
										<div>Current</div>
										<div>Top Metrics</div>
										<div>For Journal</div>
									</div>
								</div>
								<div class="btn-group">
								  <button type="button" class="btn btn-outline-sh1">2015</button>
								  <button type="button" class="btn btn-outline-sh1">2016</button>
								  <button type="button" class="btn btn-outline-sh1">2017</button>
								  <button type="button" class="btn btn-outline-sh1">2018</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">				
						<div class="rc side-heading-ctn">
							<div class="rc side-heading-light l-r text-center">				
								Title two (2)				
							</div>
							<div class="rc side-heading-content">
								<div class="mb-4 text-ctn j-sb fs sa">
									<div>
										<div>- Name (Title) 1</div>
										<div>- Name (Title) 2</div>
										<div>- Name (Title) 3</div>
										<div>- Name (Title) 4</div>
										<div>- Name (Title) 5</div>
										<div>- Name (Title) 6</div>
										<div>- Name (Title) 7</div>
										<div>- Name (Title) 8</div>
									</div>
									<div class="font-weight-bold">
										<div>Current</div>
										<div>Top Metrics</div>
										<div>For Journal</div>
									</div>
								</div>
								<div class="btn-group">
								  <button type="button" class="btn btn-outline-sh1">2015</button>
								  <button type="button" class="btn btn-outline-sh1">2016</button>
								  <button type="button" class="btn btn-outline-sh1">2017</button>
								  <button type="button" class="btn btn-outline-sh1">2018</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="result-row">
					<div class="rc side-heading-light j-sb" >				
						<span>Metric 1</span>				
					</div>
					<div class="gr-ctn j-sb my-4 l-r gr-ctn1 px-4">
						<div>					
							<span>Value 1</span><br/><br/>
							<canvas id="chart1" width="320" height="115"></canvas>
						</div>
						<div>					
							<span>Value 2</span><br/><br/>
							<canvas id="chart2" width="320" height="115"></canvas>
						</div>
					</div>
					<table class="table table-striped">
					  <tbody>
					    <tr>
					      <td>Name (Title) 1</td>
					      <td>Name (Title) 4</td>
					    </tr>
					    <tr>
					      <td>Name (Title) 2</td>
					      <td>Name (Title) 5</td>
					    </tr>
					    <tr>
					      <td>Name (Title) 3</td>
					      <td>Name (Title) 6</td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<div class="result-row">
					<div class="rc side-heading-light j-sb" >				
						<span>Metric 2</span>				
					</div>
					<table class="table table-striped">
					  <tbody>
					    <tr>
					      <td>Name (Title) 1</td>
					      <td>Name (Title) 5</td>
					    </tr>
					    <tr>
					      <td>Name (Title) 2</td>
					      <td>Name (Title) 6</td>
					    </tr>
					    <tr>
					      <td>Name (Title) 3</td>
					      <td>Name (Title) 7</td>
					    </tr>
					    <tr>
					      <td>Name (Title) 4</td>
					      <td>Name (Title) 8</td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<div class="result-row">
					<div class="rc side-heading-light j-sb" >				
						<span>Metric 3</span>				
					</div>
					<div class="gr-ctn j-c my-4 l-r">
						<span>Word of M3 per Year</span>
						<canvas id="chart3" width="450" height="150"></canvas>			
					</div>
					<table class="table table-striped">
					  <tbody>
					    <tr>
					      <td>Name (Title) 1</td>
					      <td>Name (Title) 4</td>
					    </tr>
					    <tr>
					      <td>Name (Title) 2</td>
					      <td>Name (Title) 5</td>
					    </tr>
					    <tr>
					      <td>Name (Title) 3</td>
					      <td>Name (Title) 6</td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>