<div class="heading">	
	Scipoeia&nbsp;&nbsp;>&nbsp;&nbsp;<span class="l-r">Compare</span>
</div>
<div class="back mt-2">
	<a href="#" class="l-r font-weight-bold">< Back</a>
</div>
<div class="row mt-4 special">
	<div class="col-md-4">
		<div class="rc side-heading-ctn">
			<div class="rc side-heading l-l" (click)="toggleSideCompSet()">
				<div>					
					Comparision Settings
				</div>
				<span class="float-right">					
					<img *ngIf="showSideCompSet" src="assets/arrow-up.png" />
					<img *ngIf="!showSideCompSet" src="assets/arrow-down.png" />
				</span>
			</div>
			<div class="side-heading-content" [hidden]="!showSideCompSet">
				<div class="input-ctn l-l">
					<div class="j-sb mb-2">
						<span>Year From</span>
						<input type="text" class="form-control" />
	        </div>
	        <div class="j-sb">
						<span>Year To</span>
						<input type="text" class="form-control" />
	        </div>
	      </div>
			</div>
		</div>
		<div class="rc side-heading-ctn">			
			<div class="rc side-heading l-l" (click)="toggleSideSelJournal()">
				<div>					
					Select Journals
				</div>
				<span class="float-right">					
					<img *ngIf="showSideSelJournal" src="assets/arrow-up.png" />
					<img *ngIf="!showSideSelJournal" src="assets/arrow-down.png" />
				</span>
			</div>
			<div class="side-heading-content" [hidden]="!showSideSelJournal">
				<input type="text" class="form-control mb-2" placeholder="Journal Search">
				<div class="rc side-heading-light j-sb">
					<span class="l-l">Result 1</span>
					<span><img src="assets/cross.png" /></span>
				</div>
				<div class="rc side-heading-light j-sb">
					<span class="l-l">Result 2</span>
					<span><img src="assets/cross.png" /></span>
				</div>
			</div>
		</div>
		<div class="rc side-heading-ctn">
			<div class="rc side-heading l-l" (click)="toggleSideSelCate()">
				<div>					
					Select Categories
				</div>
				<span class="float-right">					
					<img *ngIf="showSideSelCate" src="assets/arrow-up.png" />
					<img *ngIf="!showSideSelCate" src="assets/arrow-down.png" />
				</span>
			</div>
			<ng-scrollbar [hidden]="!showSideSelCate">
				<div class="side-heading-content fh l-l" [hidden]="!showSideSelCate">
					<div class="custom-control custom-radio">
					  <input type="radio" id="cr1" name="customRadioInline2" class="custom-control-input">
					  <label class="custom-control-label" for="cr1">Category 1</label>
					</div>
					<div class="custom-control custom-radio">
					  <input type="radio" id="cr2" name="customRadioInline2" class="custom-control-input">
					  <label class="custom-control-label" for="cr2">Category 2</label>
					</div>
					<div class="custom-control custom-radio">
					  <input type="radio" id="cr3" name="customRadioInline2" class="custom-control-input">
					  <label class="custom-control-label" for="cr3">Category 3</label>
					</div>
					<div class="custom-control custom-radio">
					  <input type="radio" id="cr4" name="customRadioInline2" class="custom-control-input">
					  <label class="custom-control-label" for="cr4">Category 4</label>
					</div>
					<div class="custom-control custom-radio">
					  <input type="radio" id="cr5" name="customRadioInline2" class="custom-control-input">
					  <label class="custom-control-label" for="cr5">Category 5</label>
					</div>
					<div class="custom-control custom-radio">
					  <input type="radio" id="cr6" name="customRadioInline2" class="custom-control-input">
					  <label class="custom-control-label" for="cr6">Category 6</label>
					</div>
					<div class="custom-control custom-radio">
					  <input type="radio" id="cr7" name="customRadioInline2" class="custom-control-input">
					  <label class="custom-control-label" for="cr7">Category 7</label>
					</div>
					<div class="custom-control custom-radio">
					  <input type="radio" id="cr8" name="customRadioInline2" class="custom-control-input">
					  <label class="custom-control-label" for="cr8">Category 8</label>
					</div>
				</div>
	    </ng-scrollbar>
		</div>
		<div class="rc side-heading-ctn txt">
			<div class="rc side-heading l-l" (click)="toggleSideAccRate()">
				<div>					
					Acceptance Rate
				</div>
				<span class="float-right">					
					<img *ngIf="showSideAccRate" src="assets/arrow-up.png" />
					<img *ngIf="!showSideAccRate" src="assets/arrow-down.png" />
				</span>
			</div>
			<div class="side-heading-content l-l" [hidden]="!showSideAccRate">
				<div class="txt-ctn">					
					Metric 1
				</div>
				<div class="txt-ctn">					
					Metric 2
				</div>
				<div class="txt-ctn">					
					Metric 3
				</div>
				<div class="txt-ctn">					
					Metric 4
				</div>
			</div>
		</div>
		<div class="btn-ctn j-sb">
			<button class="btn btn-outline-sh1 btn-lg l-l">Clear</button>
			<button class="btn btn-outline-sh1 btn-lg l-l">Submit</button>
			<button class="btn btn-sh2 btn-lg l-l">Save</button>
		</div>
	</div>
	<div class="col-md-8 l-l heading-ctn-main mt-0">		
		<div class="j-sb fs mb-4">
			<span class="title b-t">COMPARISION</span>
		</div>

		<div class="result-row row">
			<div class="col-md-6">				
				<div class="rc side-heading-ctn">
					<div class="rc side-heading-light l-r text-center">				
						Title one (1)				
					</div>
					<div class="rc side-heading-content">
						<div class="mb-4 text-ctn j-sb fs sa">
							<div>
								<div>- Name (Title) 1</div>
								<div>- Name (Title) 2</div>
								<div>- Name (Title) 3</div>
								<div>- Name (Title) 4</div>
								<div>- Name (Title) 5</div>
								<div>- Name (Title) 6</div>
								<div>- Name (Title) 7</div>
								<div>- Name (Title) 8</div>
							</div>
							<div class="font-weight-bold">
								<div>Current</div>
								<div>Top Metrics</div>
								<div>For Journal</div>
							</div>
						</div>
						<div class="btn-group">
						  <button type="button" class="btn btn-outline-sh1">2015</button>
						  <button type="button" class="btn btn-outline-sh1">2016</button>
						  <button type="button" class="btn btn-outline-sh1">2017</button>
						  <button type="button" class="btn btn-outline-sh1">2018</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">				
				<div class="rc side-heading-ctn">
					<div class="rc side-heading-light l-r text-center">				
						Title two (2)				
					</div>
					<div class="rc side-heading-content">
						<div class="mb-4 text-ctn j-sb fs sa">
							<div>
								<div>- Name (Title) 1</div>
								<div>- Name (Title) 2</div>
								<div>- Name (Title) 3</div>
								<div>- Name (Title) 4</div>
								<div>- Name (Title) 5</div>
								<div>- Name (Title) 6</div>
								<div>- Name (Title) 7</div>
								<div>- Name (Title) 8</div>
							</div>
							<div class="font-weight-bold">
								<div>Current</div>
								<div>Top Metrics</div>
								<div>For Journal</div>
							</div>
						</div>
						<div class="btn-group">
						  <button type="button" class="btn btn-outline-sh1">2015</button>
						  <button type="button" class="btn btn-outline-sh1">2016</button>
						  <button type="button" class="btn btn-outline-sh1">2017</button>
						  <button type="button" class="btn btn-outline-sh1">2018</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="result-row">
			<div class="rc side-heading-light j-sb" >				
				<span>Metric 1</span>				
			</div>
			<div class="gr-ctn j-sb my-4 l-r gr-ctn1 px-4">
				<div>					
					<span>Value 1</span><br/><br/>
					<img src="assets/graph1.png" />
				</div>
				<div>					
					<span>Value 2</span><br/><br/>
					<img src="assets/graph1.png" />
				</div>
			</div>
			<table class="table table-striped">
			  <tbody>
			    <tr>
			      <td>Name (Title) 1</td>
			      <td>Name (Title) 4</td>
			    </tr>
			    <tr>
			      <td>Name (Title) 2</td>
			      <td>Name (Title) 5</td>
			    </tr>
			    <tr>
			      <td>Name (Title) 3</td>
			      <td>Name (Title) 6</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="result-row">
			<div class="rc side-heading-light j-sb" >				
				<span>Metric 2</span>				
			</div>
			<table class="table table-striped">
			  <tbody>
			    <tr>
			      <td>Name (Title) 1</td>
			      <td>Name (Title) 5</td>
			    </tr>
			    <tr>
			      <td>Name (Title) 2</td>
			      <td>Name (Title) 6</td>
			    </tr>
			    <tr>
			      <td>Name (Title) 3</td>
			      <td>Name (Title) 7</td>
			    </tr>
			    <tr>
			      <td>Name (Title) 4</td>
			      <td>Name (Title) 8</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="result-row">
			<div class="rc side-heading-light j-sb" >				
				<span>Metric 3</span>				
			</div>
			<div class="gr-ctn j-c my-4 l-r">
				<span>Word of M3 per Year</span>
				<img src="assets/graph2.png" />
			</div>
			<table class="table table-striped">
			  <tbody>
			    <tr>
			      <td>Name (Title) 1</td>
			      <td>Name (Title) 4</td>
			    </tr>
			    <tr>
			      <td>Name (Title) 2</td>
			      <td>Name (Title) 5</td>
			    </tr>
			    <tr>
			      <td>Name (Title) 3</td>
			      <td>Name (Title) 6</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>
